* {
    margin: 0;
}
html, body {
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    color: black;
}
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 3rem;
    font-size: 30px;
    
}

.container .card {
    border: solid 1px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 40px;
    border-style: none;
    
}

.addWord form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open_form {
    background-color: blue;
    height: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.remove-btn {
    background-color: red;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    background-color: aqua;
    border-radius: 30px;
    padding: 50px;
    color: white;
}
